import(RcppArmadillo)
importFrom("stats", "dnorm", "dpois", "dunif", "rgamma", "rnorm","runif", "sd", "var","quantile")
importFrom("jsonlite","write_json")
import(Rcpp)
import(coda)
useDynLib(IsingOccu, .registration = TRUE)
export(IsingOccu_Murray_sampler_Ising_det)
export(getMRF)
export(rIsingOccu_multi)
export(write_json.IsingOccu_samples)
export(Sample_Ising_detection_rep)
export(negHamiltonian_posterior)
export(logBF)

